// this is an include, a placeholder, then selectors are added to the placeholder with the style definitions

// a mixin works the other way around where the content is pasted into each thing using it instead of it being grouped on to a placesholder of styles

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading {
  &-1 {
    @extend %heading;
    &--dark {
    }
  }
  &-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light {
      color: $color-grey-light-1;
    }
    &--dark {
      color: $color-grey-dark-1;
    }
  }
  &-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;

    &--dark {
    }
  }
  &-4 {
    @extend %heading;
    font-size: 1.9rem;
    &--light {
      color: $color-grey-light-1;
    }
    &--dark {
      color: $color-grey-dark-1;
    }
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: 0;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-primary-dark;
  }
}

// always assume your project will grow so prepare your helper classes for that, people are actually styling their whole page with utility classes, they call it atomic CSS
.mb {
  &-sm {
    margin-bottom: 2rem;
  }
  &-md {
    margin-bottom: 3rem;
  }
  &-lg {
    margin-bottom: 4rem;
  }
  &-hg {
    margin-bottom: 8rem;
  }
}
